@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;

}

:root {
    --bg--color--: #222629;
    --sec--bg-color--: #474B4F;
    --text--color--: #fff;
    --main--color--: #802BB1;

}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg--color--);
    color: var(--text--color--);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg--color--);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text--color--);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text--color--);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main--color--);

}

#menu-icons {
    font-size: 3.6rem;
    color: var(--text--color--);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 27vw;
    height: 50vh;
    border-radius: 50%;
    animation: floatImage 4s ease-in-out infinite;

}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main--color--);
}



.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    /* text-align: center; */
    margin-right: 2rem;
}

.home-content {
    opacity: 0;
    animation: scroll-reveal 2s alternate-reverse infinite;
}

@keyframes scroll-reveal {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-content.active,
.about-section.active,
.project-section.active,
.contact-section.active {
    opacity: 1;
    /* animation: ; */
}

.social-media {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -5vw;
    top: 15vw;
    width: 6rem;
    height: 15rem;

}

.social-media a {
    /* display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main--color--);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main--color--);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
 */
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    background: transparent;
    color: var(--main--color--);
    border: .2rem solid var(--main--color--);
    border-radius: 50%;
    transition: .3s ease;


}

.social-media a:hover {
    background: var(--main--color--);
    color: var(--sec--bg-color--);
    box-shadow: 0 0 1rem var(--main--color--);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main--color--);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main--color--);
    color: var(--sec--bg-color--);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--sec--bg-color--);
    opacity: 0;
    animation: scroll-reveal 3s forwards infinite;
}

#full-content {
    clear: left;
}

.about-img img {
    float: left;
    width: 23vw;
    height: 50vh;
    border-radius: 50%;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.project-section {
    background: var(--sec--bg-color--);
    opacity: 0;
    animation: scroll-reveal 3s reverse infinite;
}

.project-section h2 {
    margin-bottom: 4rem;

}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    display: flex;
    position: relative;
    background: var(--bg--color--);
    border-radius: 2rem;
    overflow: hidden;
}

.project-box img {
    width: 40vw;
    height: 35vh;

}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layers {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main--color--));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layers {
    transform: translateY(0);
}

.project-layers {
    font-size: 3rem;
}

.project-layers p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layers a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text--color--);
    border-radius: 50%;
}

.project-layers a i {
    font-size: 2rem;
    color: var(--sec--bg-color--);
}

.contact-section h2 {
    margin-bottom: 3rem;
}

.contact-section {
    opacity: 0;
    animation: scroll-reveal 4s reverse infinite;
}

.contact-section form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-section .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-section .input-box input,
.contact-section textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: var(--sec--bg-color--);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact-section .input-box input {
    width: 49%;
}

.contact-section textarea {
    resize: none;
}

.contact-section .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--sec--bg-color--);
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main--color--);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main--color--);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--sec--bg-color--);
}

/* breakpoints */
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}


@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .project-section {
        padding: 7rem;
    }

    .contact-section {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:768px) {
    #menu-icons {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3rem;
        background: var(--bg--color--);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem;
        align-items: center;

    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about-section {
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .project-section h2 {
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-layers {
        font-size: 2rem;
    }

    .project-layers p {
        font-size: 1rem;
    }

    .project-layers a {
        width: 3rem;
        height: 3rem;
    }

    .project-layers a i {
        font-size: 1.5rem;
    }

    .project-box {

        width: 60vw;
    }

    .project-box img {
        width: 60vw;

    }

}

@media(max-width:612px) {
    .project-container {
        grid-template-columns: 1fr;

    }

    .project-box {
        width: 70vw;

    }

    .project-box img {
        width: 70vw;
        height: 42vh;
    }
}

@media(max-width:480px) {
    html {
        font-size: 50%;
    }

    .contact-section form .input-box input {
        width: 100%;
    }
}

@media(max-width:365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}